PyNaCl
dnspython
async-timeout==3.0.1
python-dotenv
youtube_dl
discord==1.7.3
discord-py-slash-command==2.2.1
asyncio
typing
datetime
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
